# PHP / Laravel
/vendor
/.phpunit.cache
/.phpunit.result.cache
.env
.env.backup
.env.production
.phpactor.json
Homestead.json
Homestead.yaml
/auth.json
/storage/*.key
/storage/pail

# Frontend
/node_modules
/public/build
/public/hot
/public/storage
npm-debug.log
yarn-error.log

# IDEs / Editors
/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_Store
Thumbs.db

# Docker (Local Overrides)
.docker/docker-compose.override.yml
